body {
    background-color: rgb(38, 51, 63);
}

body nav a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 50px;
    text-align: center;
    display: block;
    border: 1px solid 50%;
    
}

body nav {
    height: 200px;
}
    
.test-button{
    font-size: 50px;
    background-color: white;
    text-decoration: none;
    color:black;
    width: 100%;
    height: 100%;
    border: 1px solid;
    font-family: fantasy;
    display: block;
    text-align: center;
    padding: 20px 9px ;
}

body nav a:hover {
    color:red;
}

.test-button:hover {
    color:aliceblue;
    background-color: black;
}